name: QC Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  checks:
    name: QC Checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Use PHP 8.3
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: 8.3
          coverage: none
          tools: composer, cs2pr

      - name: Composer install
        run: |
          composer install
          ./vendor/squizlabs/php_codesniffer/bin/phpcs --config-set installed_paths vendor/escapestudios/symfony2-coding-standard

      - name: Check composer.json
        run: composer validate

      - name: PHPCS checks
        continue-on-error: true
        run: vendor/squizlabs/php_codesniffer/bin/phpcs --standard=./phpcs.xml --no-cache --parallel=1 --report-full --report-checkstyle=./phpcs-report.xml ./src

      - name: Show PHPCS results in PR
        run: cs2pr ./phpcs-report.xml
